openapi: 3.2.0
info:
  title: Debitura Me API
  version: v1
  description: 'Operations tagged Me across 2 of this provider''s published API definitions: debitura-collection-partner-api.json, debitura-customer-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://collectionpartner-api.debitura.com
  description: Production
- url: https://customer-api.debitura.com
  description: Production
tags:
- name: Me
  description: Collection Partner Profile
paths:
  /me:
    get:
      tags:
      - Me
      summary: Verifies the provided API key and returns the collection partner profile
      description: 'Returns the authenticated collection partner''s profile information when the `XApiKey` header is valid.


        Authentication

        - Requires a valid API key in the XApiKey header

        - The API key uniquely identifies the collection partner


        Response Data

        - Partner identification (ID, company name, registration details)

        - Contact information (email, phone)

        - Address and location details

        - Billing and invoicing configuration

        - Revenue sharing settings

        - Partner permissions and access levels


        Use Cases

        - Verify API key validity and partner identity

        - Retrieve partner profile for display in integrations

        - Access billing and revenue share configuration

        - Check partner permissions and access levels'
      responses:
        '200':
          description: Collection partner profile retrieved successfully
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Debitura.Web.CollectionPartnerApi.Models.Me.CollectionPartnerMeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.CollectionPartnerApi.Models.Me.CollectionPartnerMeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.CollectionPartnerApi.Models.Me.CollectionPartnerMeResponse'
        '401':
          description: Missing or invalid API key
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Collection partner not found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto'
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto'
            application/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto'
            text/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto'
      security:
      - ApiKey: []
    servers:
    - url: https://collectionpartner-api.debitura.com
      description: Production
components:
  schemas:
    Debitura.Web.CollectionPartnerApi.Models.Me.CollectionPartnerMeResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the collection partner.
          format: uuid
        companyName:
          type:
          - string
          - 'null'
          description: Company name of the collection partner.
        logoUrl:
          type:
          - string
          - 'null'
          description: URL to the partner's logo image.
        companyRegistrationNumber:
          type:
          - string
          - 'null'
          description: Company registration number.
        vatNumber:
          type:
          - string
          - 'null'
          description: Company VAT number.
        address:
          type:
          - string
          - 'null'
          description: Street address of the company.
        zipCode:
          type:
          - string
          - 'null'
          description: Zip/postal code.
        city:
          type:
          - string
          - 'null'
          description: City name.
        state:
          type:
          - string
          - 'null'
          description: State or region.
        country:
          type:
          - string
          - 'null'
          description: Country name (not included in automatic mapping).
        officeEmail:
          type:
          - string
          - 'null'
          description: Office email address.
        officePhone:
          type:
          - string
          - 'null'
          description: Office phone number.
        invoiceEmail:
          type:
          - string
          - 'null'
          description: Invoice email address.
        billingContact:
          type:
          - string
          - 'null'
          description: Billing contact person name.
        invoiceCurrency:
          type:
          - integer
          - 'null'
          description: Invoice currency ID (nullable - defaults to country currency if not set).
          format: int32
        commissionType:
          $ref: '#/components/schemas/Debitura.Domain.Model.InvoicePayments.Payouts.CommissionType'
        preLegalRevenueShare:
          type:
          - number
          - 'null'
          description: Revenue share percentage for pre-legal cases (decimal, e.g., 0.40 for 40%).
          format: double
        legalRevenueShare:
          type:
          - number
          - 'null'
          description: Revenue share percentage for legal cases (decimal, e.g., 0.20 for 20%).
          format: double
        verifiedProfile:
          type: boolean
          description: Whether this partner has a verified profile (has verified link or overwrite enabled).
        fullAddress:
          type:
          - string
          - 'null'
          description: Full concatenated address string.
        surveyCadenceMode:
          $ref: '#/components/schemas/Debitura.Domain.Model.CollectionPartnerLogics.CollectionPartners.SurveyCadenceMode'
      additionalProperties: false
      description: Response containing collection partner profile information.
    Debitura.Web.ExternalApi.Contracts.V1.Cases.BusinessErrorApiDTO:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: The type of business error (e.g., "MissingDebtCollectionContract", "MissingPowerOfAttorney", "NoPartnerAvailable").
        message:
          type:
          - string
          - 'null'
          description: A human-readable description of the error.
        solutionUrl:
          type:
          - string
          - 'null'
          description: "A URL where the user can resolve this <i>specific</i> error (e.g., sign a contract).\n            \n\nPartners who want a <b>single URL</b> that walks the user through every pending\nsigning in one chain — instead of forwarding one URL per\n`BusinessErrorApiDTO` — should use\nDebitura.Web.ExternalApi.Contracts.V1.Cases.BusinessErrorResponseApiDTO.SigningHandoff's `CombinedSigningUrl`.\nThe two are complementary: `SolutionUrl` is granular per-error;\n`CombinedSigningUrl` is the chain-walking alternative for signing-related errors."
      additionalProperties: false
      description: Represents a business error in the API response.
    Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto:
      type: object
      properties:
        error:
          type:
          - string
          - 'null'
          description: Short human-readable error label (legacy field — preserved for backward compatibility).
        message:
          type:
          - string
          - 'null'
          description: Human-readable error description (legacy field — preserved for backward compatibility).
        businessErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.BusinessErrorApiDTO'
          description: Canonical structured error array. Consumers should migrate to reading this field.
      additionalProperties: false
      description: "Generic structured error response for API endpoints.\n            \nDual-write design: existing fields (Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto.Error / Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto.Message etc.)\nare preserved for backward compatibility alongside the canonical\nDebitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto.BusinessErrors array, allowing consumers to migrate at their own pace."
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Debitura.Domain.Model.CollectionPartnerLogics.CollectionPartners.SurveyCadenceMode:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Debitura.Domain.Model.InvoicePayments.Payouts.CommissionType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Debitura.Web.ExternalCustomerAPI.Models.Me.CreditorMeApiDTO:
      required:
      - companyName
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyName:
          type:
          - string
          - 'null'
        companyRegistrationNumber:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        officeEmail:
          type:
          - string
          - 'null'
        officePhone:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    ApiKey:
      type: apiKey
      description: Collection Partner API Key (use XApiKey header)
      name: XApiKey
      in: header
    Bearer:
      type: http
      description: This is for referral partners, who are sending in clients to the platform. They get the bearer token from the referral partner Api and can be inserted here.
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Debitura developer documentation
  url: https://docs.debitura.com
x-refined-from:
- debitura-collection-partner-api.json
- debitura-customer-api.json
