openapi: 3.2.0
info:
  title: Debitura Customer Contracts API
  description: Welcome to the Debitura Customer API, your gateway to seamlessly integrating your debt collection workflow with our platform.
  contact:
    name: Debitura Support
    url: https://www.debitura.com/integration/debt-collection-api
    email: contact@debitura.com
  version: v1
servers:
- url: https://customer-api.debitura.com
  description: Production
security:
- ApiKey: []
- Bearer: []
tags:
- name: Contracts
  description: Debt-collection contract status and signing URLs for your account.
paths:
  /contracts/debt-collection/status:
    get:
      tags:
      - Contracts
      summary: Get debt collection contract status
      description: 'Returns the status of your standard Debt Collection Agreement with Debitura.


        **Response Fields:**

        - signed (boolean) - Whether the agreement has been signed

        - requiresResigning (boolean) - Whether the contract needs to be re-signed

        - invalidationReason (string) - Why re-signing is required (if applicable)

        Possible values: None, NewVersion, AdminInvalidated, Other, CreditorNameChanged

        - termsUrl (string, nullable) - URL to download the signed agreement PDF (only when signed=true)

        - solutionUrl (string, nullable) - URL to sign or re-sign the agreement (only when action required)


        **Use Case:**

        Check this endpoint before creating cases to ensure you have signed the required agreement. If requiresResigning=true, navigate to the solutionUrl to complete the signing process.'
      responses:
        '200':
          description: Contract status returned
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalCustomerAPI.Models.Coverages.CollectionContractStatusApiDTO'
            application/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalCustomerAPI.Models.Coverages.CollectionContractStatusApiDTO'
            text/json:
              schema:
                $ref: '#/components/schemas/Debitura.Web.ExternalCustomerAPI.Models.Coverages.CollectionContractStatusApiDTO'
      operationId: getContractsDebtCollectionStatus
      x-operation-id-source: derived
components:
  schemas:
    Debitura.Web.ExternalCustomerAPI.Models.Coverages.CollectionContractStatusApiDTO:
      type: object
      properties:
        signed:
          type: boolean
        requiresResigning:
          type: boolean
        invalidationReason:
          type:
          - string
          - 'null'
        termsUrl:
          type:
          - string
          - 'null'
        solutionUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    ApiKey:
      type: apiKey
      description: This is for clients who manage their own account. They can get the API key in the platform and set it as the 'XApiKey' in the header.
      name: XApiKey
      in: header
    Bearer:
      type: http
      description: This is for referral partners, who are sending in clients to the platform. They get the bearer token from the referral partner Api and can be inserted here.
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Debitura developer documentation
  url: https://docs.debitura.com
