{
  "openapi": "3.0.4",
  "info": {
    "title": "Debitura Collection Partner API",
    "description": "Welcome to the Debitura Collection Partner API, your gateway to automating debt collection workflows on the world's leading platform for cross-border debt recovery.\n\nAs a trusted partner in Debitura's network of 500+ collection agencies and law firms across 183 jurisdictions, this API provides the following capabilities:\n\n**Managing Assigned Cases** - For exclusive partners with designated jurisdictions:\n- Retrieve and manage cases assigned to your agency\n- Track case details, timelines, and communications\n- Update case status and payment information\n\n**Submitting Cases to the Network** - Available to all partners:\n- Submit new cases on behalf of your clients to our global network\n- Track status of cases submitted to partners worldwide\n- Provide global coverage to your existing clients and earn a 20% revenue share\n- Manage cross-border debt collection through one unified platform\n\nAll operations follow our standardized Debt Collection Agreement and no-cure-no-pay model. The API provides the same functionality available through our user-friendly partner portal at https://partner.debitura.com.\n\nFor support or inquiries, please reach out to us at contact@debitura.com. To obtain your API key, log into the partner portal and navigate to: https://partner.debitura.com/CollectionPartnerApiKey/Index\n\n📖 Full documentation, guides, and integration walkthroughs: https://docs.debitura.com/collection-partners\n\nNOTE: Authentication requires the XApiKey header with your partner-specific API key. Available features depend on your partnership agreement.",
    "contact": {
      "name": "Debitura Support",
      "url": "https://www.debitura.com/integration",
      "email": "contact@debitura.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://collectionpartner-api.debitura.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/cases": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "List collection cases.",
        "description": "Returns a paginated list of cases where you are the **collection partner** (actively collecting the debt).\n\n**What is a Collection Partner?**\nA collection partner is an agency or law firm that performs the actual debt recovery work. When you appear as the collection partner on a case, you are responsible for:\n- Contacting the debtor and attempting recovery\n- Managing the case lifecycle and status updates\n- Recording payments and fees\n- Uploading documents and evidence\n- Communicating with the creditor through the case chat\n\n**Note:** This endpoint shows cases where you are collecting. For cases you submitted on behalf of your own clients (where you are the managing partner), use the `/managed-cases` endpoint instead.\n\n**Pagination:**\n- page (default: 1) - Page number, starting from 1\n- pageSize (default: 10, max: 100) - Number of results per page\n\n**Filters:**\n- statuses - Filter by case lifecycle status (comma-separated list)\n  Valid values: PendingVerification, NeedsAdditionalDetails, Leads, LeadsQuoteGiven, Active, Paused, Closed\n  **Note:** Partner-specific statuses only. Internal platform statuses like 'PendingContractSigning' or 'PendingVerificationInternal' are not available here — cases in those stages are hidden from every collection-partner-facing endpoint until Debitura's internal verification clears, regardless of assignment.\n- divisionIds - Filter by creditor division IDs (comma-separated GUIDs)\n- debtorIds - Filter by specific debtor IDs (comma-separated GUIDs)\n- ids - Filter by specific case IDs (comma-separated GUIDs)\n- includeTestCases - When true, includes test/demo cases owned by the caller. Defaults to false.\n\n**Sorting:**\n- sort - Sort field and direction (format: 'field:direction')\n  Examples: 'date:desc', 'amount:asc', 'debtorName:asc'\n\n**Response:**\n- Returns InvoiceListApiDTO with page metadata and cases array\n- Page metadata includes: totalResults, currentPage, skipped, pageSize",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "DebtorIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Filter by case lifecycle status. Valid values: PendingContractSigning, PendingVerificationInternal,\nPendingVerification, NeedsAdditionalDetails, Leads, LeadsQuoteGiven, Active, Paused, Closed, Merged\n(case-insensitive; both name and description forms accepted).",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "DivisionIds",
            "in": "query",
            "description": "Optional list of division IDs to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Optional sorting string \"Field[:asc|desc][,Field2[:asc|desc]]…\".\nValid sort fields: DateCreated, DateUpdated, DateFinished, DateCollectionStarted,\nDueDate, Date, GrossAmount, Remainder, InterestFees, CollectionFees, ReminderFees,\nLifecycle, CloseCode. Examples: 'DateCreated:desc', 'DueDate:asc'. Unknown fields are silently ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTestCases",
            "in": "query",
            "description": "When true, includes test/demo cases where the caller is the owner (either as collection partner\nor as managing partner). Defaults to false.\n            \nImplementation note: the spec sets CollectionPartnerIds = [callerPartnerId] as an AND filter.\nSelf-managed test cases are still returned because routing isolation guarantees\nCollectionPartnerId == ManagedByPartnerId for cases submitted by the managing partner to themselves.\nTestCaseOwnerManagedByPartnerId provides the OR-leg for non-self-routed test cases.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List returned",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceListDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceListDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceListDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters (returns specific validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Fetch case by ID",
        "description": "Returns detailed case information for a specific case ID (GUID).\n\n**Access Control:**\nOnly returns cases where you are the collection partner, or test/demo cases where you are the managing partner. For managed production cases, use `/managed-cases/{id}` instead.\n\n**Response Includes:**\n- Case details (reference, amount, currency, status, lifecycle stage)\n- Debtor information (name, address, contact details, company/private type)\n- Creditor information\n- Collection partner assignment details\n- Financial breakdown (principal, interest, fees)\n- Important dates (creation, assignment, due dates)\n- Geographic information (jurisdiction, country)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              }
            }
          },
          "400": {
            "description": "ID missing, empty, or ID is not a collection case",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found, deleted, or not assigned to you as collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/case-reference/{caseReference}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Fetch case by reference",
        "description": "Returns detailed case information using the Debitura case reference (e.g., 'Q8OAXF3W').\n\n**Use Case:**\nUse this endpoint when you have the Debitura case reference (visible in the partner portal and emails) but not the GUID. This is helpful for customer service integrations or when referencing cases in communications.\n\n**Access Control:**\nOnly returns cases where you are the collection partner, or test/demo cases where you are the managing partner. For managed production cases, use `/managed-cases/case-reference/{reference}`.",
        "parameters": [
          {
            "name": "caseReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              }
            }
          },
          "400": {
            "description": "Reference missing or reference is not a collection case",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Reference not found or not assigned to you as collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/by-partner-reference/{reference}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Fetch a single case by the collection partner's own reference ID.",
        "description": "Returns detailed case information using the collection partner's own reference (the `CollectionPartnerReference` field set during case activation).\n\n**Use Case:**\nUse this endpoint when you have your own internal case reference and want to look up the corresponding Debitura case. This is useful for integrating your case management system with Debitura.\n\n**Matching:**\nExact string match only. Combined references like '112179442 & 112179443' must be queried with the full combined string.\n\n**Access Control:**\nOnly returns cases where you are the collection partner and the case is a production collection case.",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              }
            }
          },
          "400": {
            "description": "Reference missing or empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "No case found with this partner reference",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/by-partner-reference": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Batch lookup of cases by the collection partner's own reference IDs.",
        "description": "Returns a dictionary mapping each partner reference to its corresponding case details.\n\n**Use Case:**\nUse this endpoint to look up multiple cases at once using your own internal reference IDs. This is more efficient than making individual calls for each reference.\n\n**Parameters:**\n- references (required) - Comma-separated list of partner reference strings (max 100)\n\n**Matching:**\nExact string match only. References not found or not assigned to you are omitted from the response (no error).\n\n**Response:**\nA dictionary where keys are the partner reference strings and values are the case details. Missing references are silently omitted.",
        "parameters": [
          {
            "name": "references",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary of reference to case",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "References parameter missing, empty, or exceeds maximum",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/by-creditor-reference": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Fetch a single case by creditor reference, scoped to a specific creditor and partner.",
        "description": "Returns detailed case information using the creditor's own reference (`CreditorReference`) scoped to a specific creditor.\n\n**Use Case:**\nUse this endpoint when you have the creditor's reference (e.g. from an invoice file or payment import) and need to look up the corresponding Debitura case. Because `CreditorReference` is only unique within a single creditor, you must also supply `creditorId` to make the lookup unambiguous.\n\n**Matching:**\nExact string match on `CreditorReference`. The case must also belong to the specified creditor and be assigned to the calling partner.\n\n**Access Control:**\nOnly returns production collection cases where you are the collection partner. The `creditorId` parameter scopes the lookup to a specific creditor — you can only retrieve cases for creditors whose cases are assigned to you.",
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creditorId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.InvoiceDto"
                }
              }
            }
          },
          "400": {
            "description": "Reference or creditorId missing or empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "No case found for this reference + creditor combination, or not assigned to you",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/timeline": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Fetch case timeline",
        "description": "Returns the complete chronological event history for a case along with the current engagement phase.\n\n**Timeline Events Include:**\n- Case assignment to collection partner\n- Status changes and lifecycle transitions\n- Payment recordings\n- Document uploads\n- Communication events\n- Fee additions\n- Manual updates and notes\n- System-generated events\n\n**Response shape:**\n- `items` — chronological list of timeline events\n- `currentEngagementPhase` — current phase of the active engagement: \"Pre-legal\", \"Legal\", or \"Enforcement\". Null when no active engagement exists.\n\n**Use Case:**\nUse this to track case progress, understand case history, audit actions, or display activity to users. Timeline events are ordered chronologically and include timestamps, event types, titles, and descriptions.\n\n**Note:** Timeline is filtered to show partner-relevant events only.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline returned",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.CaseTimelineResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.CaseTimelineResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.CaseTimelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Case ID missing or empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to you as collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/chats": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Fetch case chats",
        "description": "Returns all chat messages for a case in chronological order.\n\n**Chat Participants:**\n- Collection partner (you) - Messages from your team\n- Creditor - Messages from the client who owns the debt\n- Debitura support - System notifications and support messages\n- Managing partner (if applicable) - Messages from the partner who submitted the case\n\n**Message Details Include:**\n- Message content and timestamp\n- Sender information (name, role)\n- Message type (text, system notification, file attachment reference)\n- Read status and delivery information\n\n**Use Case:**\nUse this endpoint to build case communication interfaces, retrieve conversation history, or integrate case discussions into your systems. Perfect for customer service tools or partner portals.\n\n**Note:** If the case has no thread or messages, an empty array is returned.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chats returned (empty array if no messages)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.ChatDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.ChatDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.ChatDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Case ID missing or empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to you as collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Send a chat message on a case",
        "description": "Posts a new chat message on a case, visible to both the collection partner and the creditor.\n\n**Message Details:**\n- The message is attributed to the team member identified by `userId`\n- The creditor will receive an email notification about the new message\n- A task is created in the Debitura platform for the creditor to review the message\n- Messages appear in the case chat timeline in chronological order\n\n**Prerequisites:**\n- The case must exist and be assigned to you as collection partner\n- The `userId` must be a valid user ID from `GET /users` belonging to your team\n\n**Use Case:**\nUse this endpoint to communicate with creditors about case progress, request additional information, or provide status updates. Messages sent via this endpoint are equivalent to messages sent through the partner portal chat.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional idempotency key (max 255 characters). If the same key is reused with an identical message body within 24 hours, the originally created chat message is returned instead of posting a duplicate. The key is scoped per partner, case, and message body — reusing it with a different body posts a new message rather than returning a conflict.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.SendChatRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.SendChatRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.SendChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.SendChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat message sent successfully (or duplicate idempotency key — existing response returned)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.ChatDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.ChatDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Chats.ChatDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — missing fields, invalid userId, or invalid request body",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to this collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/payments": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Fetch case payments",
        "description": "Returns all payments recorded on a specific case.\n\n**Payment Information Includes:**\n- Payment amount and currency\n- Payment date (when received)\n- Payment type (full payment, partial payment, settlement)\n- Payment method (bank transfer, card, cash, etc.)\n- Payment status (pending, confirmed, reconciled)\n- Reference information\n- Allocation breakdown (principal, interest, fees)\n\n**Use Case:**\nUse this endpoint to:\n- Track payment history for a case\n- Reconcile payments with your records\n- Display payment status to users\n- Calculate outstanding balances\n- Generate financial reports\n\n**Note:** Only payments associated with this specific case are returned. All payments are returned in reverse chronological order (newest first).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payments returned (may be empty array)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.PaymentDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.PaymentDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.PaymentDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Case ID missing or empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to you as collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Create a payment on a case",
        "description": "Records a payment received for a collection case.\n\n**Use Case:**\nUse this endpoint when you receive a payment from the debtor. Provide the payment amount and, in the normal case, nothing else for the split — **omit both PayoutCreditor and PayoutCollectionPartner** and Debitura computes the creditor/partner split server-side from the case's pricing terms (success fee). This is the default and recommended usage for almost every integration.\n\n**Advanced override — PayoutCreditor / PayoutCollectionPartner:**\nSupplying both fields lets you dictate the split explicitly instead of using the computed one. This is an **advanced, opt-in override** for legitimate edge cases (e.g. a negotiated split where the collection partner already holds funds) — it is not the normal path and most integrations should never set it. When supplied:\n- Both fields are required together, and MUST sum to PaymentAmount (within 0.01 tolerance).\n- The response's `Warnings` array surfaces (without blocking the request) if the split allocates zero to the creditor, or if the case had no outstanding balance before this payment — both are signs of a misconfigured or duplicate payment and should be reviewed.\n\n**Currency:** Payment must be in the same currency as the invoice. The currency is automatically determined from the case.\n\n**PaymentRecipient Options:**\n- **Creditor** - Payment was received by the creditor (your client). When using this option, you MUST also specify CommissionPaymentStatus.\n- **CollectionPartner** - Payment was received by you (the collection partner). Commission is automatically marked as Paid since you already have the funds.\n\n**CommissionPaymentStatus:**\nThis field tracks whether the collection partner's commission has been paid. It's only required when PaymentRecipient is 'Creditor'.\n- **Paid** - The creditor has already paid your commission\n- **Unpaid** - The creditor has not yet paid your commission\n\nNote: When PaymentRecipient is 'CollectionPartner', this field is automatically set to 'Paid' since you already have the money.\n\n**Critical Validation:**\n- PayoutCreditor and PayoutCollectionPartner are optional but must be supplied together. When supplied, they MUST equal PaymentAmount (within 0.01 tolerance). When omitted (recommended), the split is computed from the case terms.\n- An explicit split that zeroes the creditor, or that is supplied on an already-settled (zero-remainder) case, is accepted but surfaced as a warning in the response — not blocked.\n- CommissionPaymentStatus is required only if PaymentRecipient is 'Creditor'\n\n**Payment Flow:**\n1. Full Payment (payment >= outstanding):\n   - If CloseCase=true → closes case with 'Paid' status\n   - If CloseCase=false → case remains open\n\n2. Partial Payment (payment < outstanding):\n   - The payment is recorded regardless of CloseCase. The case is NOT closed (CloseCase is honoured only when the payment fully settles the balance) and no error is returned.\n   - To close on a partial payment, use the close endpoint with the PartiallyPaid close code.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional idempotency key (max 255 characters) for safely retrying this request. If a previous request used the same key with an identical body, the original terminal response is replayed verbatim. Reusing the key with a different body returns 422 with `Type: \"IdempotencyConflict\"`. Field-level 400 validation errors are not stored, so you may fix the request and retry with the same key.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.CreatePaymentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.CreatePaymentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.CreatePaymentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created successfully (or duplicate Idempotency-Key — the original response is replayed). Check the Warnings array for non-blocking advisory notices (e.g. about an explicit payout-split override).",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.CreatePaymentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.CreatePaymentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.CreatePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to you",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is already in progress. Retry after the indicated delay.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "The Idempotency-Key has already been used with a different request body.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/files": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get case files",
        "description": "Returns all documents and files attached to a case.\n\n**File Types Include:**\n- OriginalInvoice - The initial invoice/claim document\n- ProofOfDelivery - Delivery confirmations\n- Contract - Agreements and contracts\n- Correspondence - Email and letter communications\n- PaymentProof - Payment receipts and confirmations\n- CourtDocuments - Legal filings and court papers\n- Other - Miscellaneous supporting documents\n\n**File Information Includes:**\n- File ID and case ID\n- File name and description/label\n- Document type classification\n- Upload timestamps (created, updated)\n- Download URL (temporary, signed link)\n- File metadata\n\n**Use Case:**\nUse this endpoint to:\n- Retrieve evidence and supporting documents\n- Display case files in partner portals\n- Download documents for offline review\n- Build document management interfaces\n- Audit document completeness\n\n**Note:** File URLs are temporary signed links that expire after a period. Generate new URLs by calling this endpoint again if links expire.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully (may be empty array)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Files.CaseFileDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Files.CaseFileDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Files.CaseFileDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Case ID missing or empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to you as collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while retrieving files",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Upload a file to a case",
        "description": "Uploads a file and attaches it to a case. Mirrors the file upload action available in the Partner portal.\n\n**Access:** Collection partners only. Managing partners are rejected.\n\n**Status gate:** Allowed on all non-Merged statuses, including Closed. Only Merged cases are rejected.\n\n**File requirements:**\n- Maximum size: 25 MB\n- Allowed extensions: `.pdf` `.doc` `.docx` `.xls` `.xlsx` `.jpg` `.jpeg` `.png` `.txt` `.zip` `.csv` `.eml`\n\n**DocumentType (optional):**\n- `OriginalInvoice` — the original invoice document\n- `DebtorDocuments` — documents provided by the debtor\n- `CreditorDocuments` — documents provided by the creditor\n- `PartnerDocuments` — documents provided by the collection partner\n- `DemandLetter` — formal demand letter\n- `Miscellaneous` — other supporting documents\n\nThe file is immediately visible to the creditor.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "The file to upload. Required.\nAllowed extensions: .pdf .doc .docx .xls .xlsx .jpg .jpeg .png .txt .zip .csv .eml\nMaximum size: 25 MB.",
                    "format": "binary"
                  },
                  "DocumentType": {
                    "type": "string",
                    "description": "Optional document type / category. Omit (or pass null) to leave uncategorised.\nValid values: DebtorDocuments, CreditorDocuments, PartnerDocuments, OriginalInvoice, DemandLetter, Miscellaneous."
                  },
                  "Description": {
                    "type": "string",
                    "description": "Optional free-text description / label for the file (max 500 characters)."
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                },
                "DocumentType": {
                  "style": "form"
                },
                "Description": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Files.CaseFileDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Files.CaseFileDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Files.CaseFileDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — missing file, unsupported extension, or request validation error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to this collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Case is Merged and cannot accept new files",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds the 25 MB size limit",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported file extension",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/notes": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Create a note on a case",
        "description": "Creates a new note/comment on a collection case.\n\n**Use Case:**\nUse this endpoint to document activities, record conversations, add reminders, or log any relevant information about the case. Notes are automatically shared with the creditor.\n\n**Validation:**\n- Description is required (max 10000 characters)\n- EventDate must not be in the future (if provided)\n\n**EventDate:**\nSupply EventDate to back-date the note to the time the event actually occurred. For example, if a phone call happened three days ago, pass that date so the timeline reflects the real event order. Omit for real-time notes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Notes.CreateNoteRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Notes.CreateNoteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Notes.CreateNoteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Notes.CreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note created successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Notes.NoteDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Notes.NoteDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Notes.NoteDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing required fields, EventDate in the future, or validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to you",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/payments/{paymentId}": {
      "put": {
        "tags": [
          "Cases"
        ],
        "summary": "Edit a payment on a case",
        "description": "Edits an existing payment on a collection case. Mirrors the payout-split semantics of the create-payment endpoint.\n\n**Payout Split:** supply both PayoutCreditor and PayoutCollectionPartner to set the split explicitly (they must sum to PaymentAmount), or omit both to have it recomputed from the case's pricing terms.\n\n**Invoiced payments are frozen:** a payment whose payout has already been invoiced (Stripe/QBO) cannot be edited and returns **422 Unprocessable Entity**. This protects the issued accounting entry from silent drift.\n\n**Reopen consent:** if the edit lowers the payment so a previously closed (Paid) case is left with a positive outstanding balance, the case must be reopened. By default this returns **409 Conflict**; resend with `reopenCaseIfNeeded: true` to confirm — the case is reopened to Active and a `case.updated` webhook fires.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.UpdatePaymentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.UpdatePaymentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.UpdatePaymentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.UpdatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.PaymentDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.PaymentDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Payments.PaymentDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case or payment not found / not assigned to you",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Edit would reopen the case; resend with reopenCaseIfNeeded=true",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Payment has already been invoiced and cannot be edited",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cases"
        ],
        "summary": "Delete a payment on a case",
        "description": "Deletes a payment from a collection case, reverting its effect on the case balance and cascading the payout deletion. A durable audit record of the deletion is retained.\n\n**Invoiced payments are frozen:** a payment whose payout has already been invoiced (Stripe/QBO) cannot be deleted and returns **422 Unprocessable Entity**.\n\n**Reopen consent:** if deleting the payment leaves a previously closed (Paid) case with a positive outstanding balance, the case must be reopened. By default this returns **409 Conflict**; resend with `reopenCaseIfNeeded=true` to confirm — the case is reopened to Active and a `case.updated` webhook fires.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reopenCaseIfNeeded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Payment deleted successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case or payment not found / not assigned to you",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Deletion would reopen the case; resend with reopenCaseIfNeeded=true",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Payment has already been invoiced and cannot be deleted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/close": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Close a case",
        "description": "Closes a collection case with a specified close code.\n\n**Use Case:**\nUse this endpoint to formally close a case when collection is complete or cannot continue. The close code determines the reason and impacts reporting.\n\n**Close Code Validation:**\n- **Paid**: Requires at least one payment AND total payments >= outstanding amount\n- **PartiallyPaid**: Requires at least one payment AND total payments < outstanding amount\n- **All other codes**: No payment requirements\n\n**Valid Close Codes:**\n- **Paid** - Full payment received from debtor\n- **PartiallyPaid** - Some payment received but not full amount\n- **DebtorInsolventBankrupt** - Debtor declared bankruptcy or insolvent\n- **DebtorUntraceable** - Unable to locate or contact debtor\n- **DisputedLegalActionDeclinedByClient** - Debt disputed, creditor declined legal action\n- **WithdrawnByClient** - Creditor requested case withdrawal\n- **PreLegalExhaustedNoPayment** - All pre-legal attempts exhausted without payment\n- **StatuteOfLimitationsExpired** - Legal time limit to collect has passed\n- **SettlementRejectedByClient** - Proposed settlement rejected by creditor\n- **UnresponsiveClient** - Creditor not responding to collection partner\n- **Other** - Other reason (please provide comment)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.CloseCaseRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.CloseCaseRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.CloseCaseRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.CloseCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case closed successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.CloseCaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.CloseCaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.CloseCaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to you",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/start": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Activate a case from PendingVerification",
        "description": "Transitions a case from `PendingVerification` → `Active`, officially accepting it for debt collection.\n\n**Prerequisites:**\n- The case must be in `PendingVerification` status (returns 400 otherwise)\n- The case must not require custom terms (non-standard agreement). Cases outside the standard pre-legal scope — where the claim type is not an unpaid invoice or loan repayment, or where a dispute exists — require negotiation in the partner portal and cannot be activated via this API (returns 400 with a descriptive error).\n- The `userId` must be a valid user ID from `GET /users` belonging to your team (returns 400 if not found)\n- The `assignedUserId`, if provided, must also be a valid user ID from `GET /users` belonging to your team (returns 400 if not found)\n\n**What happens on activation:**\n1. Case lifecycle transitions to Active\n2. A welcome message is sent to the creditor via email notification, attributed to the user identified by `userId`\n3. The welcome message is posted as a chat message in the case thread, attributed to the user identified by `userId`\n4. Any pending verification tasks are automatically resolved\n\n**Fee fields:**\nThe `interestFees`, `reminderFees`, and `collectionFees` fields update the corresponding fee amounts on the case, in the case currency. Default to 0.00 if not provided.\n\n**userId vs assignedUserId:**\n`userId` is required and identifies who is sending the welcome message (the actor). `assignedUserId` is optional and identifies who the case is assigned to for ongoing handling. They can be the same person or different team members. Use `GET /users` to retrieve valid user IDs.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.StartCaseRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.StartCaseRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.StartCaseRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.StartCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case activated successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.StartCaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.StartCaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.StartCaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — case not in PendingVerification, requires custom terms, invalid assignedUserId, or invalid request body",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to this collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}/fees": {
      "put": {
        "tags": [
          "Cases"
        ],
        "summary": "Update case fees and/or principal",
        "description": "Updates the interest, reminder, and collection fees — and optionally the principal (GrossAmount) — on a case.\n\nAll provided values replace the current values. The `grossAmount` field is optional and backward-compatible: omitting it leaves the principal unchanged.\n\nFees typically change over time as collection activity progresses — for example due to legal costs, attorney fees, investigation charges, or other events.\n\n**When `grossAmount` is supplied:**\n- Both increases and decreases are allowed (no restriction on direction)\n- The pre-legal success fee (commission) is silently recalculated and returned in the response\n- The outstanding remainder is recalculated to reflect the new principal\n- A timeline audit event is written recording the change (From/To principal and fees)\n\n**Prerequisites:**\n- The case must be assigned to this collection partner\n- The case must **not** be Closed or Merged (returns 400 otherwise)\n- All amounts must be ≥ 0 (negative values rejected)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.UpdateCaseFeesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.UpdateCaseFeesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.UpdateCaseFeesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.UpdateCaseFeesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fees updated successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.UpdateCaseFeesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.UpdateCaseFeesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.UpdateCaseFeesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid values, case is Closed or Merged, or confirmPriceChange=true was sent on a deliberately-set rate (accepted quote / manual override), which is preserve-only on this API — resubmit with keepIntentionalRate=true instead.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found or not assigned to this collection partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Price-change confirmation required — the principal edit would move the success fee by >0.1%. For a standard rate, resubmit with confirmPriceChange=true to re-price. For a deliberately-set rate (accepted quote / manual override) the rate is preserve-only: resubmit with keepIntentionalRate=true to apply the edit and keep the special rate — partners cannot override it (sending confirmPriceChange=true on such a case is rejected with 400).",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.PriceChangeConfirmationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.PriceChangeConfirmationResponse"
                }
              },
[...]
