{
  "openapi": "3.0.4",
  "info": {
    "title": "Debitura Referral Partner API",
    "description": "Welcome to the Debitura Referral API. This API allows you to set up new clients and track your revenue share with Debitura. You can also generate bearer tokens for use in the Customer API to create cases, check case status, and access all other endpoints. To get access to this API, please contact us at contact@debitura.com.\n\n📖 Full documentation, guides, and integration walkthroughs: https://docs.debitura.com/referral-partners",
    "contact": {
      "name": "Debitura Support",
      "url": "https://www.debitura.com/integration",
      "email": "contact@debitura.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://referral-api.debitura.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/cases": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "List cases for referral partner clients",
        "description": "Retrieves a paginated list of debt collection cases for all clients linked to the authenticated referral partner.\n\nCase Lifecycle Stages\nCases progress through a defined lifecycle:\n• **Pending contract signing** - Client hasn't signed debt collection agreement yet\n• **Pending Verification Internal** - Case awaiting internal Debitura review\n• **Pending Verification** - Case awaiting partner verification\n• **More Info Required** - More information required from creditor\n• **Collecting Quotes** - Awaiting quote from collection partner\n• **Pending Quote Selection** - Quote provided by partner\n• **Active** - Case is being actively collected\n• **Paused** - Collection temporarily paused\n• **Closed** - Case is closed (check CloseCode for reason)\n\nFiltering Options\n• **FromDate/ToDate** - Filter by case creation date range (ISO 8601)\n• **ExternalTenantId** - Filter to specific client using your identifier\n• **Statuses** - Filter by lifecycle status(es)\n• **Query** - Search across reference numbers and debtor name\n\nSorting\n• **Sort** - Sort field and direction (format: 'field:direction')\n• Supported fields: DateCreated, GrossAmount, DueDate\n• Examples: 'DateCreated:desc', 'GrossAmount:asc', 'DueDate:desc'\n• Default: DateCreated:desc (newest first)",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "description": "Filter cases from this date (inclusive, based on case creation date). ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Filter cases to this date (inclusive, based on case creation date). ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ExternalTenantId",
            "in": "query",
            "description": "Filter by specific client's external tenant ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Filter by case lifecycle status(es). Multiple values can be provided.\nAccepts enum names (e.g. \"Active\", \"Closed\") or descriptions (e.g. \"More Info Required\").",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Query",
            "in": "query",
            "description": "Search query across case reference, creditor reference, and debtor name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number (1-indexed)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of results per page (default: 10, max: 100)",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CountryIds",
            "in": "query",
            "description": "Filter by debtor country ID(s). Multiple values can be provided.\nOnly cases where the debtor's country matches one of the specified IDs are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "CollectionPartnerIds",
            "in": "query",
            "description": "Filter by collection partner ID(s). Multiple values can be provided.\nOnly cases assigned to one of the specified collection partners are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Sort field and direction. Format: \"field[:asc|desc]\"\nSupported fields: DateCreated, GrossAmount, DueDate\nExamples: \"DateCreated:desc\", \"GrossAmount:asc\"\nDefault: DateCreated:desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cases retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.GetCasesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.GetCasesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.GetCasesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{id}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get case detail with potential revenue breakdown",
        "description": "Retrieves a single case with all standard fields plus a potential revenue breakdown showing what the referral partner would earn if the full amount is collected.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.GetCaseDetailResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.GetCaseDetailResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.GetCaseDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Case not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/files": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Upload a file to a case. Optionally posts a system chat message to notify the collection partner.",
        "description": "Uploads a file and associates it with a case owned by one of the referral partner's clients.\n\nFile requirements:\n- Maximum file size: 25 MB\n- Allowed types: PDF, Excel (.xls, .xlsx), CSV, Text (.txt), Images (.jpg, .jpeg, .png, .gif)\n\nWhen sendChatNotification is true (default), a system message is posted on the case chat\nto notify the collection partner that a new file was uploaded.",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sendChatNotification",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional idempotency key (max 255 characters) for safely retrying this request. If a previous request used the same key with an identical body, the original terminal response is replayed verbatim. Reusing the key with a different body returns 422 with `Type: \"IdempotencyConflict\"`. Field-level 400 validation errors are not stored, so you may fix the request and retry with the same key.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Case not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "413": {
            "description": "File too large",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported file type",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create and onboard a new client",
        "description": "Creates a new client (creditor) in the Debitura platform and links them to the authenticated referral partner.\n\nRequest Structure\n- **ExternalTenantId** (required) - Your unique identifier for this client (for correlation and future lookups)\n- **Client** (required) - Company information (name, registration number, country, address, contact details)\n- **Users** (required, 1-N) - At least one user with email and name. For multiple users, exactly one must have IsOnboardingUser=true. Single-user requests auto-infer the onboarding user.\n- **Cases** (optional) - Optionally create multiple collection cases during client creation (validated upfront to prevent orphaned clients)\n\nOnboarding Flow\n1. **New Client (201/202)**\n   - Client and users are created in Debitura\n   - ReferralPartnerClientLink is established with revenue sharing percentage\n   - If onboarding is complete (terms signed), returns 201\n   - If onboarding pending (terms not signed), returns 202 with OnboardingLinks.Url for completing the process\n\n   **202 Response - Two URL Scenarios:**\n\n   **1a. New Client - Full Onboarding URL**\n   - Scenario: Client has never signed the SDCA (Standard Debt Collection Agreement)\n   - URL Pattern: `{onboardingBase}/companydetails/{referralPartnerClientLinkId}`\n   - User Journey: Multi-step onboarding (company details → users → sign SDCA)\n   - Use Case: First-time client registration\n\n   **1b. Existing Client - Contract Upgrade URL**\n   - Scenario: Client previously signed SDCA but terms have been updated (NeedsRefresh=true)\n   - URL Pattern: `{onboardingBase}/ContractUpgrade/Sign/{referralPartnerClientLinkId}`\n   - User Journey: Streamlined contract re-signing only (no company details re-entry)\n   - Use Case: SDCA version upgrade (e.g., new pricing tiers, updated legal terms)\n   - Note: This can happen to previously-ready clients (201 → 202 state transition)\n\n   **Important:** The `POST /clients` endpoint is idempotent and re-checks SDCA status on every call.\n   This means an existing client that previously returned `201 Created` may flip to `202 Accepted`\n   if Debitura releases a new SDCA version requiring re-signature.\n\n2. **Existing Client - Needs Linking (409 Conflict)**\n   There are TWO distinct 409 conflict scenarios - check the ConflictResponse.Type field to distinguish:\n\n   **2a. ClientExistsNeedsLinking** (Type: \"ClientExistsNeedsLinking\")\n   - Client already exists in Debitura (matched by user email or support email)\n   - A link request is created with an expiration window configured per-partner (`ApprovalTtlDays`, default 7 days, clamped 1–30)\n   - Existing client must approve the referral partner link via OnboardingLinks.Url\n   - If approved, IsAttributedClient will be FALSE (revenue only on partner-referred cases)\n   - Cases submitted in the original request are persisted and replayed against the linked creditor automatically when the user approves. `AllowPendingContracts=true` is forced on replay so cases land in `PendingContractSigning` rather than 422-failing on missing SDCA/PoA/KYC.\n   - Returns 409 with OnboardingLinks.Url pointing to approval page\n\n   **2b. ClientAlreadyLinkedToAnotherPartner** (Type: \"AlreadyLinkedToAnotherPartner\")\n   - Client is already linked to a DIFFERENT referral partner\n   - Only one referral partner link per client is supported\n   - Cannot proceed - contact Debitura support for resolution\n   - Returns 409 with error message and support contact\n\n3. **Idempotency**\n   - Repeated calls with same ExternalTenantId return existing client status (201 or 202)\n   - No duplicate clients or links are created\n\nResponse Codes\n- **201 Created** - Client created and fully onboarded (terms signed, ready to create cases, IsAttributedClient=true)\n- **202 Accepted** - Client created but onboarding incomplete (OnboardingLinks.Url provided to complete, IsAttributedClient=true)\n- **400 Bad Request** - Validation errors (missing required fields, invalid data, duplicate CreditorReferences within request)\n- **409 Conflict** - Two scenarios (check ConflictResponse.Type):\n  - \"ClientExistsNeedsLinking\" - Client exists, needs approval link (if approved, IsAttributedClient=false)\n  - \"AlreadyLinkedToAnotherPartner\" - Client already linked to different partner (cannot proceed)\n- **422 Unprocessable Entity** - Business rule violation (field validation errors only, NOT partner matching failures)\n- **500 Internal Server Error** - Unexpected server error\n\nOptional Multi-Case Creation\nIf the Cases array is provided in the request:\n- ALL cases are validated BEFORE client creation (checks field validation and duplicate references)\n- Client is ALWAYS created to ensure referral partner link and future attribution\n- Cases with available collection partners are created successfully (CaseResults.SuccessfulCases)\n- Cases without available partners are NOT created and reported as failures (CaseResults.FailedCases)\n- If validation errors exist (primitives, duplicates), client creation is aborted and 400 is returned\n- Successful cases appear in CaseResults.SuccessfulCases with full case details\n- Failed cases appear in CaseResults.FailedCases with CaseIndex, CreditorReference, and error details (e.g., \"No collection partner available for jurisdiction\")\n\nUser Roles\n- **IsOnboardingUser=true** - User receives CreditorAdmin role (full access)\n- **IsOnboardingUser=false** - User receives CreditorUser role (limited access)\n\nRevenue Sharing (Fee Percentage Locked at Link Creation)\n- The referral fee percentage is snapshot from the partner's current configuration at the exact moment the client link is created\n- **This percentage is IMMUTABLE and will NEVER change for this client** - even if the partner's global fee percentage is updated later\n- The locked percentage is used for ALL revenue calculations for ALL cases created by this client, forever\n- This ensures predictable, stable revenue sharing and prevents disputes over retroactive fee changes\n- To see the locked percentage for a specific client, use GET /clients/{externalTenantId} (included in response)",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.CreateClientRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.CreateClientRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.CreateClientRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.CreateClientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created and fully onboarded (terms signed)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              }
            }
          },
          "202": {
            "description": "Client created but onboarding incomplete (use OnboardingLinks.Url to complete)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Client already exists - approval required to link (use OnboardingLinks.Url for approval)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ConflictResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ConflictResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ConflictResponse"
                }
              }
            }
          },
          "422": {
            "description": "Business rule violation (field validation errors only)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.BusinessErrorResponseApiDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.BusinessErrorResponseApiDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.BusinessErrorResponseApiDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List all linked clients",
        "description": "Retrieves a paginated list of all clients (creditors) linked to the authenticated referral partner.\n\nResponse Data\nFor each client, the response includes:\n- **ExternalTenantId** - Your unique identifier for this client\n- **OnboardingDone** - Whether the client has completed onboarding (signed debt collection agreements)\n- **OnboardingLinks** - If onboarding incomplete, contains URL to complete the process\n- **Client** - Complete client information (ID, company name, registration number, country, address, contact details)\n- **Users** - List of all users associated with this client (ID, email, name)\n\nFiltering Parameters\n- **ExternalTenantId** - Filter to specific client by your identifier\n- **IsAttributedClient** - Filter by attribution status (true = created by you, false = linked later)\n- **DateCreatedFrom** - Filter clients linked on or after this date (ISO 8601 format)\n- **DateCreatedTo** - Filter clients linked on or before this date (ISO 8601 format)\n- **Query** - Search across company name, email, and registration number (case-insensitive)\n\nPagination\n- **Page** - Page number (default: 1, min: 1)\n- **PageSize** - Results per page (default: 50, min: 1, max: 100)\n- Response includes page metadata: total count, current page size, skip count\n\nSorting\n- **Sort** - Sort field and direction (format: 'field:direction')\n- Supported fields: dateCreated, name\n- Examples: 'dateCreated:desc', 'name:asc'\n- Default: dateCreated:desc (most recent first)\n\nUse Cases\n- List all your clients for dashboard display\n- Search for specific client by name, email, or registration number\n- Filter clients by onboarding status\n- Identify clients created by you vs. existing clients you linked\n- Monitor client link creation dates\n- Paginate through large client lists\n\nClient Attribution and Revenue Rules ⚠️ CRITICAL FOR REVENUE CALCULATIONS\n- **IsAttributedClient=true** - Client was created through the referral partner API\n  - Referral partner earns revenue on ALL cases (100% of cases)\n  - This is the default for clients created via POST /clients\n\n- **IsAttributedClient=false** - Client existed in Debitura before the link was established (409 conflict scenario)\n  - Referral partner earns revenue ONLY on cases created through the referral partnership\n  - Cases created directly by the client (not through partner) do NOT generate referral revenue\n  - This protects pre-existing client relationships\n\n**This distinction is the most important business rule for revenue calculations.** Always check IsAttributedClient when forecasting or reconciling revenue.\n\nOnly active (non-archived) client links are returned.",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Results per page (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Query",
            "in": "query",
            "description": "Search query across CompanyName, OfficeEmail, and CompanyRegistrationNumber",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalTenantId",
            "in": "query",
            "description": "Filter by exact external tenant ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsAttributedClient",
            "in": "query",
            "description": "Filter by attribution status (true = attributed client, false = linked but not attributed)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "DateCreatedFrom",
            "in": "query",
            "description": "Filter by link creation date (from)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateCreatedTo",
            "in": "query",
            "description": "Filter by link creation date (to)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OnboardingDone",
            "in": "query",
            "description": "Filter by onboarding status (true = completed, false = pending)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Sort field and direction. Format: \"field[:asc|desc]\"\nSupported fields: dateCreated, name\nExamples: \"dateCreated:desc\", \"name:asc\"\nDefault: dateCreated:desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clients retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.GetClientsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.GetClientsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.GetClientsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{externalTenantId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get client by external tenant ID",
        "description": "Retrieves detailed information for a specific client using your unique identifier (External Tenant ID).\n\nPath Parameter\n- **externalTenantId** - Your unique identifier for this client (the same value used during client creation)\n\nResponse Data\nThe response includes complete client information:\n- **ExternalTenantId** - Your unique identifier for this client\n- **OnboardingDone** - Whether the client has completed onboarding (signed debt collection agreements)\n- **OnboardingLinks** - If onboarding incomplete, contains URL to complete the process\n- **Client** - Complete client information\n  - Debitura-assigned client ID (Guid)\n  - Company name and registration number\n  - Country and address details\n  - Contact information (email, phone)\n- **Users** - List of all users associated with this client\n  - User ID, email, first name, last name\n\nUse Cases\n- Look up client details using your internal identifier\n- Check client onboarding status\n- Retrieve Debitura client ID for use with the Customer API (via OAuth token endpoint)\n- Get client information before creating cases\n- Verify client link is still active\n\nError Cases\n- **404 Not Found** - No active client link exists for this External Tenant ID and your partner account\n  - Client was never created\n  - Client link was archived\n  - External Tenant ID belongs to different referral partner\n- **500 Internal Server Error** - Unexpected server error\n\nImportant Notes\n- Only returns active (non-archived) client links\n- External Tenant ID is case-sensitive\n- The client must be linked to your referral partner account\n- Use the returned client ID with the OAuth token endpoint to generate bearer tokens for Customer API access",
        "parameters": [
          {
            "name": "externalTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientCreatedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Client not found or link is archived",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Clients"
        ],
        "summary": "Reset a client (test environment only)",
        "description": "Deletes a client and all associated data, allowing you to re-create the client from scratch.\n\n⚠️ **TEST ENVIRONMENT ONLY** - This endpoint is only available on the test environment (testreferral-api.debitura.com).\nCalling this endpoint on production will return 403 Forbidden.\n\nUse Cases\n- Testing the full onboarding flow multiple times\n- Resetting after changing your internal tenant structure during development\n- Cleaning up test data without manual intervention\n\nWhat Gets Deleted (cascade)\n- All collection cases and invoices for the client\n- All leads for the client\n- The Creditor account (removes email from matching algorithm)\n- The ReferralPartnerClientLink is archived\n- Associated users are cleaned up if they have no other relations\n\nAfter Reset\n- You can call POST /clients with any externalTenantId using the same email\n- The matching algorithm will not find the deleted client\n- A completely new client will be created (IsAttributedClient=true)\n\nImportant\n- You can only reset clients that are linked to your partner account\n- Pending link requests (409 scenario) cannot be reset - only actual links",
        "parameters": [
          {
            "name": "externalTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Client and all associated data successfully deleted"
          },
          "403": {
            "description": "Endpoint not available in production environment",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "No active client link found for this externalTenantId",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{externalTenantId}/is-deletable": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Check if a client can be deleted (test environment only)",
        "description": "Checks whether a client can be safely deleted for testing purposes.\n\n⚠️ **TEST ENVIRONMENT ONLY** - This endpoint is only available on the test environment.\n\nUse this endpoint before calling DELETE to verify the client can be removed.\n\nA client can be deleted if:\n- They have no active collection cases (only pending cases are allowed)\n- They have no leads with active quotes\n\nReturns\n- **isDeletable**: true if the client can be deleted\n- **blockers**: list of reasons why deletion is blocked (if any)",
        "parameters": [
          {
            "name": "externalTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletability check completed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientDeletableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientDeletableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.ClientDeletableResponse"
                }
              }
            }
          },
          "403": {
            "description": "Endpoint not available in production environment",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "No active client link found for this externalTenantId",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{externalTenantId}/withdraw": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Withdraw an attributed client",
        "description": "Withdraws a client that never completed onboarding. Archives the referral partner link and closes all pending cases with close code CaseNeverStartedInternal.\n\nThe same externalTenantId can be re-submitted via POST /clients after withdrawal.\n\nPath Parameter\n- **externalTenantId** - Your internal identifier for the client\n\nBusiness Rules\n- Only attributed clients (IsAttributedClient = true) can be withdrawn\n- All cases for this client must be in PendingContractSigning status\n\nWhat Happens\n- The referral partner client link is archived\n- All pending cases are closed with close code CaseNeverStartedInternal\n\nAfter Withdrawal\n- The same externalTenantId can be re-submitted via POST /clients\n- A new client record will be created on re-submission\n\nError Cases\n- **404 Not Found** - No active client link exists for this externalTenantId and your partner account\n- **409 Conflict** - Client cannot be withdrawn because:\n  - IsAttributedClient = false (non-attributed clients cannot be withdrawn)\n  - One or more cases have progressed beyond PendingContractSigning",
        "parameters": [
          {
            "name": "externalTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Client withdrawn successfully"
          },
          "404": {
            "description": "No active client link found for this externalTenantId",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Cannot withdraw — client not attributed or cases have progressed beyond onboarding",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{externalTenantId}/kyc-verification": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Submit KYC verification for a client",
        "description": "Submits KYC/AML director verification data for an existing client. Multiple submissions are allowed; the latest record is used for verification checks. When sendChatNotification is true (default), a system message is posted on all active cases for this client to notify the collection partner.",
        "parameters": [
          {
            "name": "externalTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendChatNotification",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional idempotency key (max 255 characters) for safely retrying this request. If a previous request used the same key with an identical body, the original terminal response is replayed verbatim. Reusing the key with a different body returns 422 with `Type: \"IdempotencyConflict\"`. Field-level 400 validation errors are not stored, so you may fix the request and retry with the same key.",
            "schema": {
              "maxLength": 255,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.SubmitKycVerificationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.SubmitKycVerificationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.SubmitKycVerificationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.SubmitKycVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "KYC verification submitted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.KycVerificationDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.KycVerificationDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Clients.KycVerificationDto"
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/coverage": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "List all jurisdiction coverage",
        "description": "Returns all jurisdictions where Debitura operates, with the assigned collection partner(s) and conditions for each.\n\nUse this to show potential clients which countries and regions are supported before they register.",
        "responses": {
          "200": {
            "description": "Coverage list returned",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Coverages.CoverageItemApiDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Coverages.CoverageItemApiDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Coverages.CoverageItemApiDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/referral-partner/filter-options": {
      "get": {
        "tags": [
          "FilterOptions"
        ],
        "summary": "Get available filter options for cases and earnings",
        "description": "Returns distinct filter options available for the authenticated referral partner's cases and earnings pages.\n\n**Countries** — Distinct debtor countries from the referral partner's case history, sorted alphabetically.\n\n**CarveoutPartners** — Collection partners from the referral partner's active JurisdictionPricingZone records (DateDeleted == null and DateDeactivated == null), sorted alphabetically.\n\nUse the returned IDs as values for the CountryIds and CollectionPartnerIds query parameters on the cases and reporting/transactions endpoints.",
        "responses": {
          "200": {
            "description": "Filter options retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.ReferralPartners.GetFilterOptionsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.ReferralPartners.GetFilterOptionsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.ReferralPartners.GetFilterOptionsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Get OAuth access token",
        "description": "Generates a short-lived JWT bearer token for accessing the Customer API on behalf of a specific client.\n\n**How It Works:**\n1. Authenticate with your referral partner API key (XApiKey header)\n2. Provide the externalTenantId of the client you want to access\n3. Receive a Bearer token valid for 30 minutes\n4. Use the token in the Customer API: `Authorization: Bearer {access_token}`\n\n**Requirements:**\n- The externalTenantId must match an active ReferralPartnerClientLink for your partner account\n- The client must be fully onboarded (SDCA signed)\n\n**Token Details:**\n- Type: Bearer (JWT)\n- Lifetime: 30 minutes\n- Scope: Customer API access for the specified client only\n\n**Usage Example:**\n```\nPOST /oauth/token\n{ \"externalTenantId\": \"your-client-id\" }\n\nResponse:\n{ \"accessToken\": \"eyJ...\", \"tokenType\": \"Bearer\", \"expiresIn\": 1800 }\n```",
        "requestBody": {
          "description": "Token generation request with externalTenantId",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.AccessTokens.CreateAccessTokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.AccessTokens.CreateAccessTokenRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.AccessTokens.CreateAccessTokenRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.AccessTokens.CreateAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.AccessTokens.AccessTokenResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.AccessTokens.AccessTokenResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.AccessTokens.AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing or invalid externalTenantId)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Client not found (no active client link found for externalTenantId)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/cases/preview": {
      "post": {
        "tags": [
          "PreviewCases"
        ],
        "summary": "Preview case pricing",
        "description": "Preview the success fee pricing for a potential case without creating it.\n\n**What This Endpoint Returns:**\n- IsEligible - Whether the case can be submitted (partner available in this jurisdiction)\n- PricingPreview - Estimated success fee with base rate and any age-based surcharges\n- Jurisdiction - Geographic details for the matched jurisdiction\n\n**Use This To:**\n1. Show your clients the Debitura success fee before they onboard\n2. Check if a jurisdiction is supported before starting the onboarding flow\n3. Display age-adjusted pricing for aged debt portfolios\n\n**Required Fields:**\n- AmountToRecover - Total principal amount\n- CurrencyCode - ISO 4217 currency code (e.g., 'GBP', 'EUR', 'USD')\n- Debtor.Type - 'Company' or 'Private'\n- Debtor.CountryAlpha2 - ISO 3166-1 alpha-2 country code\n- Debtor.StateAlpha2 - Required for US cases only (e.g., 'CA', 'NY')\n\n**Age-Based Pricing (Optional)**\n\n**Single invoice — pass `dueDate`:** The simplest way to get age-adjusted pricing. Provide the invoice due date (ISO 8601, e.g. `2024-01-15`) and Debitura computes the age surcharge internally. Cannot be a future date. Mutually exclusive with age bucket fields.\n\n**Multi-invoice portfolio — pass age buckets:** For portfolios with invoices at different ages, pass the portion of the total that falls into each age bracket:\n- `AmountToRecoverOver12Months` and `AmountToRecoverOver24Months` must be provided together\n- `AmountToRecoverOver6Months` is optional but improves pricing tier accuracy at the 180-day threshold; can only be provided alongside the 12/24-month fields, must be >= `AmountToRecoverOver12Months`, and must be <= `AmountToRecover`\n\n`dueDate` and age bucket fields are mutually exclusive — use one or the other. When no age fields are provided, base pricing is returned without age surcharge.\n\n**Important Notes:**\n- This endpoint does NOT create a case — it only previews pricing\n- Pricing is based on the referral partner's agreed rate (jurisdiction pricing zone rate if applicable)\n- No creditor or client account is needed",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.PreviewCaseRequestApiViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.PreviewCaseRequestApiViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.PreviewCaseRequestApiViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Cases.Requests.PreviewCaseRequestApiViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview completed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.ReferralPartnerPreviewCaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.ReferralPartnerPreviewCaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Cases.ReferralPartnerPreviewCaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "ReferralPartners"
        ],
        "summary": "Get authenticated partner information",
        "description": "Retrieves complete configuration and styling information for the authenticated referral partner.\n\nAuthentication\n- Requires a valid API key in the XApiKey header\n- The API key uniquely identifies the referral partner\n\nResponse Data\n- Partner identification (ID, system name, display name)\n- Branding configuration (logo URLs, colors, fonts)\n- Revenue sharing percentage\n- Partner status and settings\n\nUse Cases\n- Configure white-label branding for client onboarding pages\n- Display partner-specific styling in integrations\n- Verify partner configuration and settings\n- Retrieve commission/fee percentage for revenue calculations\n\nThe styling properties returned can be used to customize the appearance of onboarding pages\nand other partner-facing interfaces to match the referral partner's branding.",
        "responses": {
          "200": {
            "description": "Partner information retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.ReferralPartners.ReferralPartnerResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.ReferralPartners.ReferralPartnerResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.ReferralPartners.ReferralPartnerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Referral partner not found (invalid configuration)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/reporting/transactions": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Get transaction-level revenue data",
        "description": "Retrieves comprehensive transaction-level financial data for all clients linked to the authenticated referral partner.\n\n**IMPORTANT: All amounts are returned in USD regardless of the original collection currency.**\n\nRevenue Recognition Stages\nThe response includes a 4-stage revenue breakdown for each transaction, representing the complete lifecycle from collection to payment:\n\n1. **Unrecognized Revenue** - Collections that have occurred but revenue is not yet recognized (typically due to pending verifications or disputes)\n2. **Uninvoiced Recognized Revenue** - Revenue that has been recognized as earned but not yet invoiced to the partner\n3. **Invoiced Revenue** - Revenue that has been invoiced to the partner but not yet paid\n4. **Paid Revenue** - Revenue that has been paid to the partner\n\nExchange Rate Rules (Critical for Revenue Calculations)\n- **Stage 1 (Unrecognized)** - Amounts fluctuate with current exchange rates (recalculated in real-time)\n- **Stages 2-4 (Recognized/Invoiced/Paid)** - Amounts are LOCKED at the exchange rate from the moment revenue was recognized (Stage 1 → Stage 2 transition)\n- This locking prevents exchange rate volatility from affecting recognized revenue, invoices, and payments\n- The locked exchange rate is used for all downstream stages (Stages 2, 3, and 4)\n\nMonthly Invoicing Workflow\nRevenue progresses through stages on a monthly cycle:\n- Collections occur throughout the month (Stage 1)\n- At month-end, unrecognized revenue is reviewed and recognized (Stage 1 → Stage 2, exchange rate locked)\n- Recognized revenue is invoiced to the partner (Stage 2 → Stage 3)\n- Partner pays the invoice (Stage 3 → Stage 4)\n- Use this endpoint to track revenue status before and after monthly invoicing\n\nTransaction Data\nEach transaction includes:\n- Client identification (External Tenant ID, Client ID, Company Name)\n- Case/Invoice details (Case ID, Debitura Reference, Creditor Reference)\n- Debtor information (Name, Country)\n- Financial amounts (Gross Amount in original currency, all revenue stages in USD, Collection Date)\n- Revenue breakdown across all 4 stages (in USD)\n- Referral fee percentage applied to this transaction\n\nFiltering and Pagination\n- **DateFrom/DateTo** - Filter transactions by collection date range (ISO 8601 format)\n- **ExternalTenantId** - Filter to specific client(s)\n- **Page/PageSize** - Paginate results (default: page 1, size 10, max: 100)\n\nSorting\n- **Sort** - Sort field and direction (format: 'field:direction')\n- Supported fields: collectionDate, amount\n- Examples: 'collectionDate:desc', 'amount:asc'\n- Default: collectionDate:desc (most recent first)\n\nUse Cases\n- Generate partner commission reports (all amounts in USD)\n- Track revenue recognition status and exchange rate impact\n- Reconcile monthly invoices and payments\n- Analyze per-client performance\n- Export financial data for accounting systems\n- Monitor outstanding receivables\n- Understand exchange rate fluctuations on Stage 1 (unrecognized) revenue\n\nThe data returned represents real collection activity and actual revenue earned from cases created through the referral partnership.",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "description": "Filter transactions from this date (inclusive). ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Filter transactions to this date (inclusive). ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ExternalTenantId",
            "in": "query",
            "description": "Filter by specific client's external tenant ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HasRecognizedRevenue",
            "in": "query",
            "description": "When true, only show transactions where revenue has been recognized (collection partner has paid Debitura).\nWhen false, only show unrecognized transactions.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CommissionPaymentStatuses",
            "in": "query",
            "description": "Filter by commission payment status (Unpaid = 0, Paid = 1, Credited = 2).\nTracks whether Debitura has received the collection partner's commission.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.InvoicePayments.Payouts.Enums.PayoutCommissionPaymentStatus"
              }
            }
          },
          {
            "name": "PlatformInvoicingStatuses",
            "in": "query",
            "description": "Filter by platform invoicing status (NotInvoiced = 0, InvoiceIssued = 1, PaymentReceived = 2, InvoiceCredited = 3).\nTracks Debitura's invoicing lifecycle with the collection partner.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Core.InvoicePayments.PlatformInvoicingStatus"
              }
            }
          },
          {
            "name": "ReferralInvoicingStatuses",
            "in": "query",
            "description": "Filter by referral invoicing status (Pending = 0, Invoiced = 1, Paid = 2)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.ReferralPartners.Enums.ReferralInvoicingStatus"
              }
            }
          },
          {
            "name": "RevenueStages",
            "in": "query",
            "description": "Filter by revenue-lifecycle stage (see Debitura.Web.ReferralPartnerApi.Models.Reporting.TransactionRevenueStage). Use this instead of\ncombining CommissionPaymentStatuses/PlatformInvoicingStatuses/ReferralInvoicingStatuses when you need\na row list for one specific \"Ready to Invoice\" tab bucket — it applies the same ConfirmedPipeline\nfold the summary already uses, so the row list matches the badge count exactly for partners in\nConfirmedPipeline mode. ANDed with the other filters above if both are supplied.\n            \nOnly narrows the row-list (`data`) — the returned `summary` always reports all 7 bucket\ntotals regardless of this filter, since its purpose is to drive tab badge counts and would\notherwise collapse the other buckets toward zero.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Reporting.TransactionRevenueStage"
              }
            }
          },
          {
            "name": "Search",
            "in": "query",
            "description": "Search text to filter by case reference or client company name (case-insensitive, partial match).\nMinimum 2 characters required for search to be applied.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number (1-indexed)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of results per page (default: 10, max: 100)",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CountryIds",
            "in": "query",
            "description": "Filter by debtor country ID(s). Multiple values can be provided.\nOnly transactions where the debtor's country matches one of the specified IDs are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "CollectionPartnerIds",
            "in": "query",
            "description": "Filter by collection partner ID(s). Multiple values can be provided.\nOnly transactions for cases assigned to one of the specified collection partners are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "description": "Sort field and direction. Format: \"field[:asc|desc]\"\nSupported fields: collectionDate, amount\nExamples: \"collectionDate:desc\", \"amount:asc\"\nDefault: collectionDate:desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Reporting.TransactionsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Reporting.TransactionsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ReferralPartnerApi.Models.Reporting.TransactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters (e.g., invalid date format, page size too large)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get all webhooks for the authenticated referral partner",
        "description": "Returns all webhook subscriptions with their configuration (URL, events, status). Note: Secrets are never included in GET responses.",
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "API key is missing or invalid"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a new webhook subscription",
        "description": "Creates webhook subscription for real-time event notifications.\n\n**Available Events:**\n- `client.onboarding.poa_signed` - Client signed Power of Attorney\n- `client.onboarding.contract_signed` - Client signed Service Delivery Agreement\n- `client.linked` - Client successfully linked to your account\n- `client.link_declined` - Client declined to link\n- `client.link_requested` - 409 link request created (awaiting end-user approval)\n- `client.link_expired` - 409 link request reached its TTL without approval/decline\n- `case.created` - Collection case created for linked client\n- `case.updated` - Collection case lifecycle changed (e.g., Active → Closed)\n- `case.closed` - Collection case closed (terminal state)\n- `cases.replay_failed` - A stored case payload failed to create during 409 carry-through (retry via the Customer API)\n\n**Security:** Response includes Base64-encoded signing secret (shown only once). Store it to verify HMAC-SHA256 signatures on deliveries.\n\n**Requirements:** HTTPS URL required (HTTP, localhost, and private IPs rejected). Deliveries retry with exponential backoff (8 attempts). Webhook auto-disables after max failures.",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.CreateWebhookRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.CreateWebhookRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.CreateWebhookRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "API key is missing or invalid"
          }
        }
      }
    },
    "/v1/Webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a specific webhook by ID",
        "description": "Returns webhook configuration including URL, events, active status, and DisabledReason if auto-disabled. Secret is never included (only shown during creation/regeneration).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              }
            }
          },
          "401": {
            "description": "API key is missing or invalid"
          },
          "404": {
            "description": "Webhook not found or does not belong to this partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update an existing webhook subscription",
        "description": "Updates webhook URL, events, or active status. Set RegenerateSecret=true to rotate signing secret (returned in response). Use IsActive=true to re-enable auto-disabled webhooks after fixing delivery issues. Secret only included if RegenerateSecret=true.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.UpdateWebhookRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.UpdateWebhookRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.UpdateWebhookRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Domain.Model.Webhooks.Dtos.WebhookDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (validation errors)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "API key is missing or invalid"
          },
          "404": {
            "description": "Webhook not found or does not belong to this partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook subscription",
        "description": "Permanently deletes webhook subscription. Cannot be undone. Consider setting IsActive=false to temporarily disable instead. Delivery history is lost after deletion.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully"
          },
          "401": {
            "description": "API key is missing or invalid"
          },
          "404": {
            "description": "Webhook not found or does not belong to this partner",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debitura.Web.ExternalApi.Contracts.V1.Errors.ApiErrorResponseDto"
                }
              },
              "text/json": {
[...]
